* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-right: 0px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.sample-slider .swiper-pagination-bullets {
  width: 100px;
  height: 30px;
  color: black !important;
  background-color: red;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
