* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-right: 0px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  /* background: linear-gradient(to bottom, #00925d, #55555c); */
}

section .color {
  position: absolute;
  filter: blur(150px);
}

section .color:nth-child(1) {
  top: -150px;
  width: 700px;
  height: 700px;
  background-color: #00925d;
}

section .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  width: 600px;
  height: 600px;
  background-color: #007aff;
}

section .color:nth-child(3) {
  bottom: 100px;
  right: 100px;
  width: 400px;
  height: 400px;
  background-color: #5d6166;
}

.box {
  position: relative;
}

.container {
  position: relative;
  max-width: 340px;
  width: 500px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  border: 1px solid #00925d;
}

.square-1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateY 15s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

.square-3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateY2 15s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

.square-2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateX 15s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

.square-4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateX2 12s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}

@keyframes animateY {
  0%,
  100% {
    transform: translateY(-300px);
  }
  50% {
    transform: translateY(100px);
  }
}

@keyframes animateY2 {
  0%,
  100% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(100px);
  }
}

@keyframes animateX {
  0%,
  100% {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(200px);
  }
}

@keyframes animateX2 {
  0%,
  100% {
    transform: translateX(-250px);
  }
  50% {
    transform: translateX(250px);
  }
}

/* truncates */
.truncate-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-2-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (min-width: 900px) {
  .truncate-2-4 {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

/* Swiper */
.swiper-featured-selected-image {
  border: 1px solid #00925d;
}

/* Swiper Pagination */
.sample-slider .swiper-pagination-bullets {
  width: 100px;
  height: 30px;
  color: black !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.swiper-banner-panigation .swiper-banner-panigation {
  text-align: right !important;
}

.swiper-banner-image {
  height: 100% !important;
}

@media (min-width: 1400px) {
  .swiper-banner-image {
    height: 120% !important;
  }
}

.swiper-featured-image {
  height: 600px !important;
}

.swiper-panigation {
  text-align: right !important;
}

.swiper-pagination-bullet {
  background-color: #55555c !important;
  opacity: 0.8 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  opacity: 1 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  text-align: right !important;
  width: fit-content !important;
  margin-left: auto !important;
  padding: 0px 5px 2px 5px;
  border-radius: 40px;
  right: 40px !important;
  bottom: 70px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 599px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: center !important;
    justify-content: space-between !important;
    bottom: 25px !important;
    margin-right: auto !important;
    right: 0px !important;
    width: 140px !important;
    display: flex !important;
    padding: 10px 10px !important;
  }

  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
}

/* Swiper Navigation */
.swiper-just-release-navigation .swiper-button-next {
  height: auto !important;
  padding: 8px 15px !important;
  border-radius: 100%;
  background-color: #28262d !important;
  color: #b5b4b6 !important;
}

.swiper-just-release-navigation .swiper-button-prev {
  height: auto !important;
  padding: 8px 15px !important;
  border-radius: 100%;
  background-color: #28262d !important;
  color: #b5b4b6 !important;
}

.swiper-just-release-navigation .swiper-button-next::after {
  padding: 0px !important;
  --swiper-navigation-size: 14px;
}

.swiper-just-release-navigation .swiper-button-prev::after {
  padding: 0px !important;
  --swiper-navigation-size: 14px;
}

.swiper-just-release-navigation .swiper-just-release-navigation {
  background-color: #28262d !important;
}

.swiper-just-release-navigation .swiper-button-disabled {
  display: none;
}

/* MUI List Pagination */
.mui-style-1mu1ari-MuiButtonBase-root-MuiPaginationItem-root {
  font-weight: 700 !important;
  font-size: large !important;
}
