.square1 {
  filter: blur(150px);
  bottom: -150px;
  left: 100px;
  width: 600px;
  height: 600px;
  background-color: #007aff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateY 15s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@media (max-width: 768px) {
  .square1 {
    filter: blur(100px);
    bottom: 100px;
    width: 10.75rem;
    height: 300px;
    animation: none;
  }
}

.square3 {
  filter: blur(150px);
  bottom: 100px;
  right: 100px;
  width: 400px;
  height: 400px;
  background-color: #5d6166;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateY2 15s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@media (max-width: 768px) {
  .square3 {
    filter: blur(100px);
    bottom: 100px;
    width: 10.75rem;
    height: 300px;
    animation: none;
  }
}

.square2 {
  filter: blur(150px);
  top: -150px;
  width: 700px;
  height: 700px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateX 15s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@media (max-width: 768px) {
  .square2 {
    filter: blur(100px);
    top: 150px;
    width: 10.75rem;
    height: 300px;
    animation: none;
  }
}

.square4 {
  filter: blur(150px);
  bottom: -150px;
  width: 400px;
  height: 400px;
  background-color: #4a1c68;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateX2 12s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@media (max-width: 768px) {
  .square4 {
    filter: blur(100px);
    bottom: -150px;
    width: 10.75rem;
    height: 300px;
    animation: none;
  }
}

@keyframes animateY {
  0%,
  100% {
    transform: translateY(-300px);
  }
  50% {
    transform: translateY(100px);
  }
}

@keyframes animateY2 {
  0%,
  100% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(100px);
  }
}

@keyframes animateX {
  0%,
  100% {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(200px);
  }
}

@keyframes animateX2 {
  0%,
  100% {
    transform: translateX(-250px);
  }
  50% {
    transform: translateX(250px);
  }
}
